<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   badgeOfPoints.plist
   Orange Arrow Mobile

   Created by 刘祥 on 4/16/19.
   Copyright (c) 2019 xiangliu90. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>words</key>
        <array>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
        </array>
        <key>puzzle</key>
        <array>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
        </array>
        <key>trivia</key>
        <array>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
            <integer>6</integer>
        </array>
    </dict>
</plist>
